.whole {
    background-color: lightgrey;
}

h1,h2 {
    text-shadow: 2px 2px #323ea8;
}

.text {
    text-decoration-style: solid;
    text-decoration-color: blue;
}

.list {
    text-decoration: underline;
    text-decoration-style: solid;
    color: #3269a8;
}